$smtphost = 'smtp.googlemail.com'; # sample for gmail
$smtpport = 465;
$smtpssl = 'ssl'; # 'starttls', 'ssl', undef
$smtpehlo = 'localhost';
$smtplogin = 'LOGIN';

$smtpusername = '';
$smtppasswd = '';

$mailfrom='hogehoge@example.com';

